h1
{
    font-family: 'Quicksand';
    font-size: 40px;
    font-weight: 30px;
    text-align: center;
    color:#ff4d4d ;
}
h4
{
    font-family: 'Quicksand';
    text-align: center;
    color:black ;
}
.submit-button
{
    text-align: center;
}

.reset-pswd
{
    margin-top: 100px; 
}
#Login {
  background-image: url('/assets/pexels-photo.jpeg');
   width: 100%;
  height: 662px;     
   background-attachment: fixed; 
}