<simple-notifications [options]="options"></simple-notifications>
<div id="Login">
  <div class="container-fluid">
    <div class="row">
      <img src="/assets/tm.png" alt="Smiley face" class="img-responsive" width="300px" height="300px">
    </div><!--end of row-->
      <div class="col-md-4 col-md-offset-4 reset-pswd">
        <h1>Reset Password</h1>
        <h4>Enter a new password for your account</h4>
        <form #f="ngForm" novalidate (ngSubmit)="save(f.value)">
          <div class="form-group">
            <input type="password" class="form-control" name="oldpassword" [ngModel]="user.oldpassword" 
              required  #oldpassword="ngModel"  placeholder="Old Password">
            <small [hidden]="oldpassword.valid || (oldpassword.pristine && !f.submitted)" class="text-danger">
              Old Password is required.
            </small>
          </div><!--end of form-group-->
          <div class="form-group">
            <input type="password" class="form-control" name="password" minlength="8" pattern="(?=^.{8,16}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$"  title="  Password should be of given pattern"   [ngModel]="user.password" 
              required validateEqual="confirmPassword" reverse="true" #password="ngModel" placeholder="New Password">
            <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
              Password must contain atleast 8 characters with at least 1 upper case character, 1 lower case character, 1 numerical character, 1 special character
            </small>
          </div><!--end of form-group-->
          <div class="form-group">
            <input type="password" class="form-control" name="confirmPassword" [ngModel]="user.confirmPassword" 
              required validateEqual="password" reverse="false" #confirmPassword="ngModel" placeholder="Retype New Password">
            <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
              Password mismatch
            </small>
          </div><!--end of form-group-->
          <div class="submit-button">
                <button type="submit" class="btn btn-danger" [disabled] = "!f.valid" style="margin-right:10px" (click)="save(f.value);f.reset();">Reset Password</button> 
                <a [routerLink] ="['/navBar/home']"><button type="submit" class="btn btn-danger" >Cancel</button></a>
          </div><!--end of sumit-button--> 
        </form>
      </div><!--end of reset-pswd-->
  </div><!--end of container-fluid-->
</div><!--end of Login-->

