
 
 <div class="col-sm-6">
   <h3 style="color:black;">Srinivas Ramanujan ITC-5</h3>
   <spinner name="mySpinner" group="foo"></spinner>
 <div   class="well"> 
            
          <div  class="well" id="p1">
           
           <h3 style="color:darkblue">{{firstday | date:'dd/MM/yyyy'}} - {{lastday | date:'dd/MM/yyyy'}}</h3>
   <div style="display: block;background-color:#F5F5F5">
     
<canvas baseChart *ngIf="loaded" class="chart"
            [datasets]="barChartDataitc5week"
            [labels]="barChartLabelsitc5week"
             [colors]="chartColors"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div></div></div>
          <div   class="well">           
          <div  class="well" id="p1">
          <h3 style="color:darkblue">{{date | date:'MMMM'}}</h3>
             <div style="display: block;background-color:#F5F5F5">
<canvas baseChart *ngIf="loaded" class="chart"
            [datasets]="barChartDataitc5month"
            [labels]="barChartLabelsitc5month"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div></div></div>
 <div   class="well">           
          <div  class="well" id="p1">
           <h3 style="color:darkblue">{{date | date:'yyyy'}}</h3>
             <div style="display: block;background-color:#F5F5F5">
<canvas baseChart *ngIf="loaded" class="chart"
            [datasets]="barChartDataitc5year"
            [labels]="barChartLabelsitc5year"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div></div></div>
   

   <!-- <p>{{this.barChartData}}</p> -->

  

</div> 