<div class="middle-section">
<div class="row">
  <div class="col-xs-12 col-md-6"> 
   <div class="middle-section-breadcrumb">
         <ol class="breadcrumb">
            <li><a>Wallet</a></li>
            <li class=active>Passbook</li>
        </ol>
       </div><!--end of ms-breadcrumb-->
  </div><!--end of col of row-->
</div><!--end of row-->  
<div class="row"> 
  <div class="col-xs-12">
    <div class="middle-section-jombotron col-sm-12 col-xs-12">
       <div class="jumbotron amt-form">
          <form class="form-inline ">
            <div class="form-group">
               <label><i class="fa fa-google-wallet fa-4x" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Rs. 500</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <input type="text" class="form-control" placeholder="Enter Amount to be Added" id="amt" style="width: auto ;border-left: 1px transparent;border-right: 1px transparent;border-top: 1px transparent;"> 
            </div><!--end of form-group-->
              &nbsp;&nbsp;&nbsp;&nbsp;
              
             <button type="submit" class="btn btn-default btn-responsive amount">
              <span class="glyphicon glyphicon-piggy-bank"></span> 
              Add money to Wallet</button>
              
          </form><!--end of form-->
        </div><!--end of amt-form-->
    </div><!--end of middle-sec-jombotron-->      
  </div><!--end of col of row-->        
</div><!--end of row-->         
</div><!--end of middle-section-->




