<simple-notifications [options]="options"></simple-notifications>
<div id ="forgot">
  <div class="row demo">
      <div class="col-md-4 col-md-offset-4">
        <h2>Reset Password Form</h2>
        <div class="well well-lg" >
          <h2>Forgot Password</h2>
          <form (ngSubmit)="onSubmit();isClickedOnce = !isClickedOnce; ForgotForm.reset();" [formGroup]="ForgotForm">
              <div *ngIf="ForgotForm.errors" class="alert alert-danger">
                    Not a registered user.
              </div>
              <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input formControlName="user_id" type="text" class="form-control" [maxlength]="15" placeholder="LAN ID" autofocus="autofocus">  
              </div>
              <br><br>
              <div class="form-group submit-button" >
                    <button type="submit" class="btn btn-danger" [disabled]="!ForgotForm.valid || isClickedOnce ">
                      <span class="text">{{isClickedOnce ? 'Processing' : 'Reset Password'}} </span> 
                    </button>
                    <a [routerLink] ="['/']"><button type="submit" class="btn btn-danger" >Cancel</button></a>
              </div> 
          </form><!--enf of form-->
        </div><!--end of well-->
      </div><!--end of column-->
  </div><!--end of row-->
</div><!--end of forgot-->